 img {
    width: 305px;
    height: 305px;
    padding:1px;
    border:3px solid #021a40;
    margin: 0 auto;
    border-radius: 20px;
 }
.imageSize{
     display: flex;
     flex-wrap: wrap;  
     justify-content: space-between;
     border: 15px slategrey;
     padding: 20px;
     outline: 4px solid rgb(97, 117, 118);
     background-color: rgb(227, 188, 89)     
 }
.chart {
    height: 300px; 
    width: 100%;
 }
.resultButton {
     height: 40px;
     width: 300px;
     margin: 0 auto;
     margin-top: 15px;
     margin-bottom: 15px;
     font-size: 19px;
     display: block;
     padding: 3px;
     border: solid blue;
}
