 img {
    width: 305px;
    height: 305px;
    padding:1px;
    border:3px solid #021a40;
    margin: 0 auto;
    border-radius: 20px;
    animation-duration: 1s;
    animation-name: bounceIn;
 }
.imageSize{
     display: flex;
     flex-wrap: wrap;  
     justify-content: space-between;
     border: 15px slategrey;
     padding: 20px;
     outline: 4px solid rgb(97, 117, 118);
     background-color: rgb(227, 188, 89);     
    
 }
.chart {
    height: 300px; 
    width: 100%;
    animation: pulse 10s infinite;
    animation-duration: 15s;
    animation-name: chartIn;
 }
.resultButton {
     height: 40px;
     width: 300px;
     margin: 0 auto;
     margin-top: 15px;
     margin-bottom: 15px;
     font-size: 19px;
     display: block;
     padding: 3px;
     border: solid black;
     background-color: red;
     animation: pulse 3s ease infinite alternate, 
     border-radius: 100%;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
  }
@keyframes chartIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(.8);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
  }
@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
  }
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  80% {
    transform: translate(-150px, 0);
  }
  }
@keyframes pulse {
  0% {
    background-color: rgb(143, 168, 193);
  }
  100% {
    background-color: rgb(196, 105, 100);
  }
  }