#getRandomPicture {
    display: flex;
 }
 img {
     width: 350px;
     height: 350px;
     padding:1px;
     border:1px solid #021a40;
     /* display: flex;
     flex-wrap: wrap; */
    
 }
 body {
    background-color: antiquewhite 
    /* display: flex;
     flex-wrap: wrap;
     justify-content: center; */

 }
 div.imageSize{
    display: flex;
     flex-wrap: wrap;  
     justify-content: center; */
 }
 div.chart {
    height: 300px; 
    width: 100%;
 }
 input.resultButton {
     min-height: 100px;
     min-width: 100px;
     

 }